.SH OPTIONS
.TP 5
-h, --help
Prints the synopsis and a list of the supported commands.
.TP
-v, --version
Prints the current version number.
.TP
-f, --file
Specifies the JSON file to load to retrieve the project informations. If 
omitted, it will be set to
.B dictionary.json