<%= partials['header'] %>

<%= partials['sec_name'] %>

<%= partials['sec_synopsis'] %>

<%= partials['sec_description'] %>

<%= partials['sec_options'] %>

<%= partials['sec_files'] %>

<%= partials['sec_notes'] %>

<%= partials['sec_bugs'] %>

<%= partials['sec_author'] %>
