
## Description

The **category** mode is useful for medium size projects, where the amount of 
terms to translate is big enough to make it difficult to manage with only one 
unique (the monolithic) file.
