<%= partials['header'] %>
<%= index %>
<%= partials['description'] %>
<%= partials['fileformat'] %>
<%= partials['metadescriptor'] %>
<%= partials['databasedescriptor'] %>
<%= partials['example'] %>

<%= partials['links'] %>
