
## Description

The **language** mode is usually used for big size projects, where the amount
of supported languages is so high to make it really harder to manage them only
by grouping by categories.
