
## File format

This mode requires the project to be splitted in more than one component:

- a **meta descriptor**: this file replicates all the fields used in `meta`
  descriptor for the category mode and describe which files will go to compose
  the final project, and the database structure.
- a **definitions** file set: this is a set of smaller files, one for each 
  supported language by your application.
