<%= header %>
<% if (index) { print( index ); } %>
<% if (description) { print( description ); } %>
<% if (fileformat) { print( fileformat ); } %>
<% if (metadescriptor) { print( metadescriptor ); } %>
<% if (definitionfileset) { print( definitionfileset ); } %>
<% if (example) { print( example ); } %>

<% if (links) { print( links ); } %>
