<%= partials['header'] %>
<%= index %>
<%= partials['description'] %>
<%= partials['fileformat'] %>
<%= partials['metadescriptor'] %>
<%= partials['definitionfileset'] %>
<%= partials['example'] %>

<%= partials['links'] %>
