format|`String`|it **must** be set to `{{mode}}`
dest|`String`|the target directory for the **_locales** directory. The path **must** end with a trailing path separator or the field will be invalid
locales|`Array`|supported country codes by your extension/application. They **must** be compliant to the [country codes][cc-list] supported by the Chrome Store