
## Description

The **monolith** mode is the commonly used format for most of the projects.
It's more useful for small simple projects, where the amount of terms to 
translate is low and easily manageable through an unique file (a monolithic 
file). Anyway, in this mode it's still possible yet not easy to manage a 
medium/big project.
