<% if (meta['name']) { %># <%= meta['name'] %><% } %><% if (meta['gemnasium']) { %> [![Dependency Status](https://gemnasium.com/<%= meta['gemnasium']['userId'] %>/<%= meta['name'] %>.png)](https://gemnasium.com/<%= meta['gemnasium']['userId'] %>/<%= meta['name'] %>) <% } %><% if (meta['flattr']) { if (meta['flattr']['image']) { if (meta['flattr']['image'] === 'badge') { %> [![Flattr this <%= meta['flattr']['category'] %>](https://api.flattr.com/button/flattr-badge-large.png)](https://flattr.com/submit/auto?user_id=<%= meta['flattr']['userId'] %>&url=<%= meta['homepage'] %>&title=<%= grunt.util._(meta['name']).capitalize() %>&description=<%= encodeURI(grunt.util._(meta['description']).humanize()) %>&language=en_GB&tags=<%= meta['keywords'].join(',') %>&category=<%= meta['flattr']['category'] %>)<% }}} %>
<% if (meta['description']) { %>
> <%= meta['description'] %>
<% } %>
