
## How to install

It's possible to install <%= meta['name'] %> using [nodejs][] and [npm][]. (Remember to
execute the command as root when install globally.)

```bash
$ npm install -g <%= meta['name'] %>
```
