
## Introduction

**<%= meta['name'] %>** is a command line tool for your Chrome/Chromium apps and extensions.
It aims to help you in easily build a complete database of locales starting from
some project files.
