[nodejs]: http://nodejs.org/
[npm]: http://npmjs.org/
[grunt]: http://gruntjs.com/
[SemVer]: http://semver.org/
[Vandamme]: https://github.com/tech-angels/vandamme
[EditorConfig]: http://editorconfig.org/

[monolith]: doc/monolith.md
[category]: doc/category.md
[language]: doc/language.md
[CHANGELOG]: CHANGELOG.md
[LICENSE]: LICENSE-MIT
