<%= partials['header'] %>
<%= index %>
<%= partials['intro'] %>
<%= partials['install'] %>
<%= partials['usage'] %>
<%= partials['define'] %>
<%= partials['example'] %>
<%= partials['philosophy'] %>
<%= partials['contributing'] %>
<%= partials['history'] %>
<%= partials['license'] %>

<%= partials['links'] %>
