<%= header %>
<% if (index) { print( index ); } %>
<% if (intro) { print( intro ); } %>
<% if (install) { print( install ); } %>
<% if (usage) { print( usage ); } %>
<% if (define) { print( define ); } %>
<% if (example) { print( example ); } %>
<% if (philosophy) { print( philosophy ); } %>
<% if (contributing) { print( contributing ); } %>
<% if (history) { print( history ); } %>
<% if (license) { print( license ); } %>

<% if (links) { %><%= links %><% } %>
